
@font-face {
  font-family: 'Josefin Sans Medium';
  src: url('./JosefinSans-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Didot Bold Italic';
  src: url('./DidotHTF-11BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Verlag Extra Light';
  src: url('./Verlag-XLight.ttf') format('truetype');
}
